<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <body>
    <div layout:fragment="content">
      <h1>Contrats</h1>

      <a th:href="@{/contrats/new}" class="btn btn-primary btn-sm mb-3">
        ajouter un contrat
      </a>

      <table class="table">
        <thead>
          <tr>
            <th>Nom de contracteur</th>
            <th>Type de contrat</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="contrat : ${contrats}">
            <td class="fs-6" th:text="${contrat.name}"></td>
            <td class="fs-6" th:text="${contrat.occupation}"></td>
            <td class="fs-6" th:text="${contrat.email}"></td>
            <td class="fs-6" th:text="${contrat.phone}"></td>
            <td>
              <a
                th:href="@{/contrats/details/{id}(id=${contrat.id})}"
                class="btn btn-success btn-sm"
                >Voir</a
              >
              <a
                th:href="@{/contrats/edit/{id}(id=${contrat.id})}"
                class="btn btn-primary btn-sm"
                >Mettre à jour</a
              >
              <a
                th:href="@{/contrats/delete/{id}(id=${contrat.id})}"
                class="btn btn-danger btn-sm"
                >Supprimer</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
