<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <body>
    <div layout:fragment="content">
      <h1>Mettre à jour les données des contrats</h1>
      <form
        th:action="@{/contrats/save}"
        th:object="${contrat}"
        method="POST"
      >
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Nom du contrat</label>
            <input
              th:field="*{name}"
              type="text"
              class="form-control"
              placeholder="Nom complet"
              required
            />
          </div>
          
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Adresse</label>
            <input
              type="text"
              class="form-control"
              th:field="*{address}"
              placeholder="Adresse"
              required
            />
          </div>

          
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              placeholder="exemple@optimgov.com"
              th:field="*{email}"
            />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Numéro de téléphone</label>
            <input
              type="text"
              class="form-control"
              placeholder="Numéro de téléphone"
              th:field="*{phone}"
            />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-2">
            <label class="form-label">Début de contrat</label>
            <input
              class="form-control"
              type="date"
              th:field="*{contractStart}"
            />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Fin de contrat</label>
            <input class="form-control" type="date" th:field="*{contractEnd}" />
          </div>

          <div class="col-sm-4">
            <label class="form-label">Type de contrat</label>
            <input
              type="text"
              class="form-control"
              placeholder="Type de contrat accepter"
              th:field="*{occupation}"
            />
          </div>
          <div class="col-sm-4">
            <label class="form-label">Commission</label>
            <input
              type="text"
              class="form-control"
              placeholder="Commission"
              th:field="*{salary}"
            />
          </div>
          
          <div class="row mb-3">
          <div class="form-group">
            <label class="form-label">Detail du contrat</label>
            <textarea
              class="form-control"              
              rows="6"
              type="text"
              placeholder="description"
              th:field="*{obs}"
            ></textarea>
          </div>
        </div>
        </div>

        

        <div class="row mb-3">
          <div class="col-auto">
            <button class="btn btn-primary" type="submit">
              sauver un contrat
            </button>
          </div>
          <div class="col-auto">
            <a class="btn btn-danger" th:href="@{/}">Annuler</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
