<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <body>
    <div layout:fragment="content">
      <h1>Departments</h1>

      <a th:href="@{/absenses/new}" class="btn btn-primary btn-sm mb-3">
        ajouter un departement
      </a>

      <table class="table">
        <thead>
          <tr>
          
            <th>date</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr th:each="department : ${absenses}">
            <td class="fs-6" th:text="${absense.date}"></td>

            
            
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
