<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <body>
    <div layout:fragment="content">
      <h1>Nouvelle departement</h1>
      <form
        th:action="@{/departments/save}"
        th:object="${department}"
        method="POST"
      >
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Nom</label>
            <input
              th:field="*{nom}"
              type="text"
              class="form-control"
              placeholder="Nom du departement"
              required
            />
          </div>
          
        </div>
        
        <div class="row g-3 mb-3">
          <div class="col-sm-3">
            <label class="form-label">Competances</label>
            <input
              type="text"
              class="form-control"
              placeholder="competence necessaire"
              th:field="*{skills}"
            />
          </div>
        </div>

        
        <div class="row mb-3">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Details du departement</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="6"
              th:field="*{obs}"
            ></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-auto">
            <button class="btn btn-primary" type="submit">
              sauver une departement
            </button>
          </div>
          <div class="col-auto">
            <a class="btn btn-danger" th:href="@{/departments/all}">Annuler</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
