<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <body>
    <div layout:fragment="content">
      <h1>Nouveau employé</h1>
      <form
        th:action="@{/employees/save}"
        th:object="${employee}"
        method="POST"
      >
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Nom d'employé</label>
            <input
              th:field="*{name}"
              type="text"
              class="form-control"
              placeholder="Nom complet"
              required
            />
          </div>
          <div class="col-sm-4">
            <label class="form-label">numéro d'identification</label>
            <input
              type="text"
              class="form-control"
              placeholder="numéro d'identification"
              th:field="*{cin}"
              required
            />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Adresse</label>
            <input
              type="text"
              class="form-control"
              th:field="*{address}"
              placeholder="Adresse"
              required
            />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Date de naissance</label>
            <input
              class="form-control"
              type="date"
              th:field="*{birth}"
              required
            />
          </div>
        </div>
        
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Pays de naissance</label>
            <input
              type="text"
              class="form-control"
              th:field="*{countr}"
              placeholder="country"
            />
          </div>

          <div class="col-sm-4">
            <label class="form-label">Ville de naissance</label>
            <input
              type="text"
              class="form-control"
              th:field="*{ville}"
              placeholder="Ville"
            />
          </div>
        </div>
        
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Heures de travail</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
              type="text"

              th:field="*{hdt}">


  <option value="44 heures par semaine.">44 heures par semaine.</option>
  <option value="40 heures par semaine.">40 heures par semaine.</option>
  <option value="38 heures par semaine.">38 heures par semaine.</option>
  <option value="35 heures par semaine.">35 heures par semaine.</option>
</select>
            
          </div>

          <div class="col-sm-2">
            <label class="form-label">Langues</label>
            <input
              type="text"
              class="form-control"
              placeholder="entrer les langues"
              th:field="*{langue}"
            />
          </div>
          <div class="col-sm-2">
            <label class="form-label">Distance du lieu de travail</label>
            <input
              type="text"
              class="form-control"
              th:field="*{distance}"
              placeholder="Distance domicile-lieu de travail"
            />
        </div>
          
        </div>
        
        
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Genre</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
              type="text"

              th:field="*{sexe}">


  <option value="Male">Male</option>
  <option value="Female">Female</option>
</select>
            
          </div>

          <div class="col-sm-1">
          <label class="form-label">Marié ?</label>
            <div class="form-check">
            
  <input type="radio" class="form-check-input" id="radio1" name="optradio" th:field="*{martial}" value="Marié" checked>Oui
  <label class="form-check-label" for="radio1"></label>

</div>
<div class="form-check">
  <input type="radio" class="form-check-input" id="radio2" name="optradio" th:field="*{martial}" value="Non marié">Non
  <label class="form-check-label" for="radio2" th:field="*{martial}"></label>
</div>
            
          </div>
          <div class="col-sm-3">
            <label class="form-label">Nombre d'enfants</label>
            <input
              type="email"
              class="form-control"
              placeholder="Combien d'enfants ?"
              th:field="*{enfant}"
            />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              placeholder="exemple@optimgov.com"
              th:field="*{email}"
            />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Num. tél. portable</label>
            <input
              type="text"
              class="form-control"
              placeholder="Numéro de téléphone"
              th:field="*{phone}"
            />
          </div>
          <div class="col-sm-2">
            <label class="form-label">Num. tél. fixe</label>
            <input
              type="text"
              class="form-control"
              placeholder="Numéro de téléphone"
              th:field="*{fixe}"
            />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-3">
            <label class="form-label">Profession/Poste</label>
            <input
              type="text"
              class="form-control"
              placeholder="Occupation ou poste dans l'entreprise"
              th:field="*{occupation}"
            />
          </div>
          <div class="col-sm-3">
            <label class="form-label">Salaire</label>
            <input
              type="text"
              class="form-control"
              placeholder="Salaire"
              th:field="*{salary}"
            />
          </div>
          <div class="col-sm-3">
            <label class="form-label">numero de sécurité sociale</label>
            <input
              type="text"
              class="form-control"
              placeholder="nss"
              th:field="*{nss}"
            />
          </div>
        </div>
        
        <div class="row g-3 mb-3">
          <div class="col-sm-3">
            <label class="form-label">Numero de Visa</label>
            <input
              type="text"
              class="form-control"
              placeholder="num. de Visa"
              th:field="*{visa}"
            />
          </div>

          <div class="col-sm-3">
            <label class="form-label">Numero de permis de travail</label>
            <input
              type="text"
              class="form-control"
              placeholder="num. de permis de travail"
              th:field="*{travail}"
            />
          </div>
        </div>
        
        <div class="row g-3 mb-3">
          <div class="col-sm-3">
            <label class="form-label">Date d'expiration de Visa</label>
            <input
              class="form-control"
              type="date"
              th:field="*{dvisa}"
            />
          </div>

          <div class="col-sm-3">
            <label class="form-label">Date d'expiration de permis de travail</label>
            <input class="form-control" type="date" th:field="*{dtravail}" />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-3">
            <label class="form-label">Début de contrat de travail</label>
            <input
              class="form-control"
              type="date"
              th:field="*{contractStart}"
            />
          </div>

          <div class="col-sm-3">
            <label class="form-label">Fin de contrat de travail</label>
            <input class="form-control" type="date" th:field="*{contractEnd}" />
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Observation</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="6"
              th:field="*{obs}"
            ></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-auto">
            <button class="btn btn-primary" type="submit">
              sauver un employé
            </button>
          </div>
          <div class="col-auto">
            <a class="btn btn-danger" th:href="@{/employees/all}">Annuler</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
